body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.anchor-point {
  height: 80px;
}

.header.hide {
  position: fixed;
  top: -80px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header {
  position: fixed;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  width: 100%;
}

.header nav {
  width: 100%;
  height: 80px;
  background-color: #FFF;
}

.header nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 1220px;
  height: 80px;
}

@media (max-width: 1300px) {
  .header nav .row {
    width: calc(100vw - 80px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.global-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 177px;
  height: 40px;
}

.global-logo .logo-icon {
  cursor: pointer;
  margin: 0 10px 0 0;
  width: 33px;
  height: 38px;
  background-image: url("https://evernote.com/img/footer/logo-icon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.global-logo .logo-text {
  cursor: pointer;
  width: 134px;
  height: 80px;
  text-align: center;
  line-height: 40px;
  font-size: 32px;
  font-weight: bold;
}

.contents-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 0 50px;
  width: 386px;
  height: 50px;
}

@media (max-width: 1000px) {
  .contents-nav {
    display: none;
  }
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.nav-ul .nav-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 28px;
  width: 43px;
  height: 22px;
}

.nav-ul .nav-li .content {
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #000;
}

.nav-ul .nav-li .arrow {
  cursor: pointer;
}

.nav-ul .nav-li:hover {
  color: #00a82d;
}

.nav-ul .nav-li:hover a {
  color: #00a82d;
}

.nav-ul .nav-li:nth-child(3) {
  width: 106px;
}

.nav-ul .nav-li:nth-child(4) {
  width: 72px;
}

.utility-nav {
  margin: 0 0 0 auto;
  width: 200px;
  height: 40px;
}

@media (max-width: 1000px) {
  .utility-nav {
    display: none;
  }
}

.utility-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.utility-nav-ul .option:nth-child(1) {
  border: 2px #00a82d solid;
  border-radius: 3px;
  padding: 0 10px;
  width: 96px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}

.utility-nav-ul .option:nth-child(1) .utility-text {
  font-weight: 300;
  color: #00a82d;
}

.utility-nav-ul .option:nth-child(2) {
  margin: 0 5px;
  width: 14px;
  height: 22px;
  text-align: center;
}

.utility-nav-ul .option:nth-child(2) .utility-text {
  cursor: auto;
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

.utility-nav-ul .option:nth-child(3) {
  margin: 0 5px;
  width: 32px;
  height: 22px;
  text-align: center;
}

.utility-nav-ul .option:nth-child(3) .utility-text {
  font-weight: 300;
  color: #00a82d;
}

.burger {
  display: none;
}

@media (max-width: 1000px) {
  .burger {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("https://evernote.com/img/icons/nav-open-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.news-banner {
  width: 100%;
  height: 95px;
  background-color: #000;
}

@media (max-width: 839px) {
  .news-banner {
    height: 119px;
  }
}

@media (max-width: 735px) {
  .news-banner {
    padding: 10px 0 20px 0;
    height: unset;
  }
}

.news-banner .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 0 40px;
  width: 1140px;
  height: 100%;
}

@media (max-width: 1300px) {
  .news-banner .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: calc(100vw - 80px);
  }
}

.news-banner .container .image {
  position: absolute;
  left: 40px;
  top: 23px;
  width: 47px;
}

@media (max-width: 1300px) {
  .news-banner .container .image {
    position: relative;
    left: 0;
    top: 0;
  }
}

@media (max-width: 735px) {
  .news-banner .container .image {
    display: none;
  }
}

.news-banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 0 22px 105px;
  width: 1035px;
}

@media (max-width: 1300px) {
  .news-banner-content {
    margin: 0 0 0 50px;
    padding: 22px 0 22px 0px;
  }
}

@media (max-width: 735px) {
  .news-banner-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.news-banner-content .title {
  margin: 13px 40px 0 0;
  max-width: none;
  width: 835px;
  font-size: 20px;
  color: #FFF;
  width: unset;
}

@media (max-width: 735px) {
  .news-banner-content .title {
    margin: 0 0 20px 0;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
  }
}

.news-banner-content .pro-version {
  margin: 0;
  border-radius: 3px;
  width: 200px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  font-weight: 300;
  background-color: #00a82d;
}

.news-banner-content .pro-version .get-pro {
  padding: 20px 15px;
  font-size: 13px;
  letter-spacing: 1px;
  color: #FFF;
}

.banner {
  width: 100%;
  height: 538px;
  background-color: #00a82d;
  background-image: url("https://evernote.com/img/backgrounds/patterns/main-green.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 950px) {
  .banner {
    height: unset;
  }
}

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 60px 0;
  width: 1220px;
  height: 418px;
}

@media (max-width: 1300px) {
  .banner .container {
    width: calc(100vw - 80px);
  }
}

@media (max-width: 950px) {
  .banner .container {
    padding: 60px 0 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: unset;
  }
}

@media (max-width: 500px) {
  .banner .container {
    width: 90%;
  }
}

.banner .container .image {
  width: 50%;
  height: 100%;
  background-image: url("https://evernote.com/c/assets/homepage/homepage-hero-desktop.png?3abe3713b26cf413");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 950px) {
  .banner .container .image {
    width: 352px;
    height: 295px;
  }
}

.banner-content {
  padding: 0 40px 40px 0;
  width: 568.141px;
  height: 378px;
}

@media (max-width: 950px) {
  .banner-content {
    height: unset;
    width: 70%;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .banner-content {
    width: 90%;
  }
}

.banner-content .the_title {
  margin: 0 0 20px 0;
  font-size: 56px;
  line-height: 72px;
  color: #FFF;
}

@media (max-width: 950px) {
  .banner-content .the_title {
    font-size: 37px;
    line-height: 45px;
  }
}

.banner-content .the_text {
  margin: 0 0 35px 0;
  text-align: justify;
  font-size: 24px;
  line-height: 40px;
  font-weight: lighter;
  color: #FFF;
}

@media (max-width: 950px) {
  .banner-content .the_text {
    font-size: 20px;
    line-height: 32px;
  }
}

.banner-content .free-register {
  display: block;
  border-radius: 3px;
  padding: 18px 32px 17px 32px;
  width: 176px;
  text-align: center;
  color: #00A82D;
  background-color: #FFF;
}

@media (max-width: 950px) {
  .banner-content .free-register {
    margin: auto;
    width: 50%;
  }
}

@media (max-width: 500px) {
  .banner-content .free-register {
    margin: auto;
    padding: 18px 0 17px 0;
    width: 100%;
  }
}

.banner-content .free-register:hover {
  background-color: #e7e7e7;
}

.big-card {
  width: 100%;
  height: 792px;
  background-color: #f7f7f7;
}

@media (max-width: 750px) {
  .big-card {
    height: 1308px;
  }
}

.card-row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 120px 0 0 0;
  width: 1220px;
  height: 792px;
}

@media (max-width: 1300px) {
  .card-row {
    width: calc(100% - 80px);
  }
}

@media (max-width: 750px) {
  .card-row {
    padding: 160px 0 0 0;
  }
}

.card-row .heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 100px 0;
  width: 100%;
  height: 288px;
}

.card-row .heading-content .title {
  margin: 100px 0 20px 0;
  font-size: 48px;
  font-weight: bold;
}

@media (max-width: 750px) {
  .card-row .heading-content .title {
    margin: 50px 0 20px 0;
    text-align: center;
    font-size: 36px;
    line-height: 48px;
  }
}

.card-row .below-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -40px;
  width: 1300px;
  height: 244px;
  text-align: center;
}

@media (max-width: 1300px) {
  .card-row .below-contents {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .card-row .below-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card-row .below-contents .plus {
  display: none;
  margin: 74px auto;
  width: 24px;
}

@media (max-width: 750px) {
  .card-row .below-contents .plus {
    display: block;
  }
}

.card-row .below-contents .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 40px 0 40px;
  width: 33.333%;
  height: 244px;
  line-height: 2;
  letter-spacing: 1px;
  font-size: 30px;
  color: #888b8d;
}

@media (max-width: 1300px) {
  .card-row .below-contents .card {
    font-size: 27px;
    line-height: 48px;
  }
}

@media (max-width: 750px) {
  .card-row .below-contents .card {
    padding: 0;
    width: 80%;
    font-size: 27px;
    line-height: 48px;
    letter-spacing: normal;
  }
}

@media (max-width: 500px) {
  .card-row .below-contents .card {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .card-row .below-contents .card:nth-child(1) {
    margin: 210px 0 0 0;
  }
}

.info-card {
  width: 100%;
  height: 2300px;
}

@media (max-width: 600px) {
  .info-card {
    height: unset;
  }
}

.info-card .row {
  margin: auto;
  padding: 100px 0;
  width: 1220px;
  height: 100%;
}

@media (max-width: 1300px) {
  .info-card .row {
    width: calc(100% - 80px);
  }
}

@media (max-width: 600px) {
  .info-card .row {
    width: 100%;
  }
}

.info-card .row .heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 200px 0;
  width: 1220px;
  height: 295px;
}

@media (max-width: 1300px) {
  .info-card .row .heading-content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .info-card .row .heading-content {
    margin: 40px 0 180px 0;
    height: unset;
  }
}

.info-card .row .cards {
  width: 1220px;
  height: 1366px;
}

@media (max-width: 1300px) {
  .info-card .row .cards {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .info-card .row .cards {
    height: unset;
  }
}

.heading-logo {
  width: 64px;
}

.heading-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 100px 0 20px 0;
  font-size: 48px;
  font-weight: 700;
}

@media (max-width: 600px) {
  .heading-title {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }
}

.details {
  margin: 22px 0 0 0;
  font-size: 24px;
}

@media (max-width: 600px) {
  .details {
    margin: 38px 0 0 0;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }
}

.info-card-row:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 160px 0;
  width: 100%;
  height: 318px;
}

@media (max-width: 1300px) {
  .info-card-row:nth-child(1) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 800px) {
  .info-card-row:nth-child(1) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .info-card-row:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 0 100px 0;
    height: 585px;
  }
}

.info-card-row:nth-child(1) .info {
  width: 560px;
}

@media (max-width: 1300px) {
  .info-card-row:nth-child(1) .info {
    margin: 0 0 0 70px;
    width: 45%;
  }
}

@media (max-width: 800px) {
  .info-card-row:nth-child(1) .info {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .info-card-row:nth-child(1) .info {
    margin: 60px auto 0 auto;
    width: 85%;
    text-align: justify;
  }
}

.info-card-row:nth-child(1) .info .info-title {
  margin: 0 0 20px 0;
  font-size: 38px;
  line-height: 48px;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #00a82d;
}

.info-card-row:nth-child(1) .info .content {
  font-size: 24px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .info-card-row:nth-child(1) .info .content {
    font-size: 18px;
    line-height: 32px;
  }
}

.info-image1 {
  width: 560px;
  text-align: center;
}

@media (max-width: 1300px) {
  .info-image1 {
    width: 45%;
    max-width: 410px;
  }
}

@media (max-width: 600px) {
  .info-image1 {
    margin: auto;
    width: 80%;
    max-width: unset;
  }
}

.info-image1 .info-pic {
  width: 310px;
}

@media (max-width: 1300px) {
  .info-image1 .info-pic {
    width: 100%;
    max-width: 280px;
  }
}

.info-card-row:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 160px 0;
  width: 100%;
  height: 363px;
}

@media (max-width: 1300px) {
  .info-card-row:nth-child(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 800px) {
  .info-card-row:nth-child(2) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .info-card-row:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 100px 0;
    height: 585px;
  }
}

.info-card-row:nth-child(2) .info {
  width: 560px;
}

@media (max-width: 1300px) {
  .info-card-row:nth-child(2) .info {
    margin: 0 0 0 70px;
    width: 45%;
  }
}

@media (max-width: 800px) {
  .info-card-row:nth-child(2) .info {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .info-card-row:nth-child(2) .info {
    margin: 60px auto 0 auto;
    width: 85%;
    text-align: justify;
  }
}

.info-card-row:nth-child(2) .info .info-title {
  margin: 0 0 20px 0;
  font-size: 38px;
  line-height: 48px;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #00a82d;
}

.info-card-row:nth-child(2) .info .content {
  font-size: 24px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .info-card-row:nth-child(2) .info .content {
    font-size: 18px;
    line-height: 32px;
  }
}

.info-image2 {
  width: 560px;
  text-align: center;
}

@media (max-width: 1300px) {
  .info-image2 {
    width: 45%;
    max-width: 410px;
  }
}

@media (max-width: 600px) {
  .info-image2 {
    margin: auto;
    width: 80%;
    max-width: unset;
  }
}

.info-image2 .info-pic {
  width: 310px;
}

@media (max-width: 1300px) {
  .info-image2 .info-pic {
    width: 100%;
    max-width: 280px;
  }
}

.info-card-row:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 365px;
}

@media (max-width: 1300px) {
  .info-card-row:nth-child(3) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 800px) {
  .info-card-row:nth-child(3) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .info-card-row:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 585px;
  }
}

.info-card-row:nth-child(3) .info {
  width: 560px;
}

@media (max-width: 1300px) {
  .info-card-row:nth-child(3) .info {
    margin: 0 0 0 70px;
    width: 45%;
  }
}

@media (max-width: 800px) {
  .info-card-row:nth-child(3) .info {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .info-card-row:nth-child(3) .info {
    margin: 60px auto 0 auto;
    width: 85%;
    text-align: justify;
  }
}

.info-card-row:nth-child(3) .info .info-title {
  margin: 0 0 20px 0;
  font-size: 38px;
  line-height: 48px;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #00a82d;
}

.info-card-row:nth-child(3) .info .content {
  font-size: 24px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .info-card-row:nth-child(3) .info .content {
    font-size: 18px;
    line-height: 32px;
  }
}

.info-image3 {
  width: 560px;
  text-align: center;
}

@media (max-width: 1300px) {
  .info-image3 {
    width: 45%;
    max-width: 410px;
  }
}

@media (max-width: 600px) {
  .info-image3 {
    margin: auto;
    width: 80%;
    max-width: unset;
  }
}

.info-image3 .info-pic {
  height: 360px;
}

@media (max-width: 1300px) {
  .info-image3 .info-pic {
    width: 100%;
    height: unset;
    max-width: 300px;
    min-width: 228px;
  }
}

.info-link {
  margin: 20px 0 0 0;
  font-weight: bold;
  line-height: 40px;
}

.info-link .link {
  color: #00A82D;
}

.info-link .link:hover {
  color: #1cc74a;
}

.list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 140px 0 0 0;
  width: 100%;
  height: 59px;
}

.list-btn .btn-primary {
  border-radius: 3px;
  padding: 18px 32px 17px 32px;
  width: 185px;
  font-size: 18px;
  line-height: 24px;
  background-color: #00A82D;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #FFF;
}

@media (max-width: 600px) {
  .list-btn .btn-primary {
    margin: auto;
    padding: 18px 0 17px 0;
    width: 90%;
    text-align: center;
  }
}

.list-btn .btn-primary:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #1cc74a;
}

.carousel-row {
  margin: auto;
  padding: 60px 0;
  width: 1220px;
}

@media (max-width: 1300px) {
  .carousel-row {
    width: calc(100% - 80px);
  }
}

@media (max-width: 800px) {
  .carousel-row {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .carousel-row {
    width: 100%;
  }
}

.carousel-row .swiper-container {
  display: none;
  width: 80%;
  height: 40vh;
}

@media (max-width: 600px) {
  .carousel-row .swiper-container {
    display: block;
    margin: auto;
  }
}

.carousel-row .top-image {
  margin: 0 auto 60px auto;
  text-align: center;
}

.carousel-row .top-image img {
  width: 28px;
}

.carousel-row .carousel-wrapper {
  width: 1220px;
}

@media (max-width: 1300px) {
  .carousel-row .carousel-wrapper {
    width: 95%;
  }
}

@media (max-width: 600px) {
  .carousel-row .carousel-wrapper {
    display: none;
  }
}

.swiper-wrapper {
  margin: 60px 0 0 0;
  width: 100%;
}

.swiper-wrapper .swiper-slide {
  width: 100px;
  text-align: center;
}

.swiper-wrapper .swiper-slide .phone-quote {
  margin: 60px 0 0 0;
}

.swiper-wrapper .swiper-slide:nth-child(2) .phone-icon {
  width: 160px;
}

.swiper-wrapper .swiper-slide:nth-child(4) .phone-icon {
  width: 150px;
}

.swiper-wrapper .swiper-slide:nth-child(6) .phone-icon {
  width: 150px;
}

.logo-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 68px;
}

.logo-slider .logo {
  width: 150px;
  position: relative;
}

@media (max-width: 1300px) {
  .logo-slider .logo {
    width: 14%;
  }
}

.logo-slider .logo img {
  opacity: 0.25;
}

.logo-slider .logo .option-1 {
  width: 137px;
  margin: 0 6.5px;
  -webkit-animation: option_change 30s infinite;
          animation: option_change 30s infinite;
}

@media (max-width: 1300px) {
  .logo-slider .logo .option-1 {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .logo-slider .logo .option-1 {
    margin: 0 0 0 25px;
  }
}

.logo-slider .logo .option-2 {
  width: 132px;
  margin: 0 9px;
  -webkit-animation: option_change 30s infinite;
          animation: option_change 30s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@media (max-width: 1300px) {
  .logo-slider .logo .option-2 {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .logo-slider .logo .option-2 {
    margin: 0 19px;
  }
}

.logo-slider .logo .option-3 {
  width: 115px;
  margin: 0 17.5px;
  -webkit-animation: option_change 30s infinite;
          animation: option_change 30s infinite;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@media (max-width: 1300px) {
  .logo-slider .logo .option-3 {
    width: 100%;
  }
}

.logo-slider .logo .option-4 {
  width: 150px;
  -webkit-animation: option_change 30s infinite;
          animation: option_change 30s infinite;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@media (max-width: 1300px) {
  .logo-slider .logo .option-4 {
    width: 100%;
    margin: 0 10px;
  }
}

.logo-slider .logo .option-5 {
  width: 88px;
  margin: 0 31px;
  -webkit-animation: option_change 30s infinite;
          animation: option_change 30s infinite;
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@media (max-width: 1300px) {
  .logo-slider .logo .option-5 {
    width: 100%;
    margin: 0;
  }
}

.logo-slider .logo .option-6 {
  width: 150px;
  -webkit-animation: option_change 30s infinite;
          animation: option_change 30s infinite;
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
}

@media (max-width: 1300px) {
  .logo-slider .logo .option-6 {
    width: 100%;
  }
}

@-webkit-keyframes option_change {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  17% {
    opacity: 0.25;
  }
}

@keyframes option_change {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  17% {
    opacity: 0.25;
  }
}

.option-link .option1-1 {
  position: absolute;
  left: 6.5px;
  top: 0;
  width: 137px;
}

@media (max-width: 1300px) {
  .option-link .option1-1 {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .option-link .option1-1 {
    left: 25px;
  }
}

.option-link .option2-1 {
  position: absolute;
  left: 9px;
  top: 0;
  width: 132px;
}

@media (max-width: 1300px) {
  .option-link .option2-1 {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .option-link .option2-1 {
    left: 19px;
  }
}

.option-link .option3-1 {
  position: absolute;
  left: 17.5px;
  top: 0;
  width: 115px;
}

@media (max-width: 1300px) {
  .option-link .option3-1 {
    width: 100%;
  }
}

.option-link .option4-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
}

@media (max-width: 1300px) {
  .option-link .option4-1 {
    width: 100%;
    left: 10px;
  }
}

.option-link .option5-1 {
  position: absolute;
  left: 31px;
  top: 0;
  width: 88px;
}

@media (max-width: 1300px) {
  .option-link .option5-1 {
    width: 100%;
    left: 0;
  }
}

.option-link .option6-1 {
  position: absolute;
  left: 0;
  width: 150px;
}

@media (max-width: 1300px) {
  .option-link .option6-1 {
    width: 100%;
  }
}

.option-link .option:hover {
  opacity: 1;
}

.carousel-quote {
  position: relative;
  margin: 66px auto 150px auto;
  width: 925px;
  background-color: darkseagreen;
}

@media (max-width: 1300px) {
  .carousel-quote {
    width: calc(100% - 80px);
  }
}

@media (max-width: 600px) {
  .carousel-quote {
    width: 100%;
  }
}

.carousel-quote .quote {
  position: absolute;
  width: 925px;
  opacity: 0;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.5px;
}

@media (max-width: 1300px) {
  .carousel-quote .quote {
    width: 100%;
  }
}

.carousel-quote .quote:nth-child(1) {
  -webkit-animation: quote_change 30s infinite;
          animation: quote_change 30s infinite;
}

.carousel-quote .quote:nth-child(2) {
  -webkit-animation: quote_change 30s infinite;
          animation: quote_change 30s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.carousel-quote .quote:nth-child(3) {
  -webkit-animation: quote_change 30s infinite;
          animation: quote_change 30s infinite;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.carousel-quote .quote:nth-child(4) {
  -webkit-animation: quote_change 30s infinite;
          animation: quote_change 30s infinite;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.carousel-quote .quote:nth-child(5) {
  -webkit-animation: quote_change 30s infinite;
          animation: quote_change 30s infinite;
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.carousel-quote .quote:nth-child(6) {
  -webkit-animation: quote_change 30s infinite;
          animation: quote_change 30s infinite;
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
}

@-webkit-keyframes quote_change {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  17% {
    opacity: 0;
  }
}

@keyframes quote_change {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  17% {
    opacity: 0;
  }
}

.info-started {
  width: 100%;
  height: 828px;
}

@media (max-width: 830px) {
  .info-started {
    height: 1200px;
  }
}

@media (max-width: 500px) {
  .info-started {
    height: 1800px;
  }
}

.info-started .row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 120px 0 0 0;
  width: 1220px;
  height: 100%;
}

@media (max-width: 1300px) {
  .info-started .row {
    width: calc(100% - 80px);
  }
}

@media (max-width: 600px) {
  .info-started .row {
    padding: 60px 0 0 0;
    width: 95%;
  }
}

.info-started .row .list-btn {
  margin: 20px 0 0 0;
  width: 100%;
  height: 59px;
}

@media (max-width: 500px) {
  .info-started .row .list-btn {
    margin: 0;
  }
}

.free-started {
  display: block;
  cursor: pointer;
  margin: auto;
  border-radius: 3px;
  padding: 18px 32px 17px 32px;
  width: 105px;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #FFF;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #00A82D;
}

@media (max-width: 500px) {
  .free-started {
    width: 60%;
    text-align: center;
  }
}

.free-started:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #1cc74a;
}

.started-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px 0 100px 0;
  width: 100%;
  height: 64px;
  text-align: center;
}

.started-content .heading-title {
  margin: 0 0 20px 0;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
}

@media (max-width: 600px) {
  .started-content .heading-title {
    margin: 0;
  }
}

.list-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 425px;
}

@media (max-width: 830px) {
  .list-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 800px;
  }
}

@media (max-width: 500px) {
  .list-cards {
    height: 1400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.list-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 100px 0;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
}

@media (max-width: 830px) {
  .list-cards .card {
    margin: 0;
    width: 50%;
  }
}

@media (max-width: 500px) {
  .list-cards .card {
    width: 90%;
  }
}

.card-image {
  width: 100%;
  height: 125px;
  text-align: center;
}

.card-image .icon {
  width: 120px;
}

.card-info {
  margin: 20px 0 0 0;
  text-align: center;
}

.card-info .heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.card-info .content {
  margin: 16px 0 0 0;
  text-align: justify;
  text-align-last: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0;
}

.function-part {
  width: 100%;
  height: 951px;
}

@media (max-width: 800px) {
  .function-part {
    height: unset;
  }
}

.function-part .row {
  margin: auto;
  padding: 120px 0 0 0;
  width: 1300px;
}

@media (max-width: 1300px) {
  .function-part .row {
    width: calc(100% - 80px);
  }
}

@media (max-width: 500px) {
  .function-part .row {
    padding: 60px 0 0 0;
  }
}

.function-content {
  margin: 40px 0 100px 0;
  width: 100%;
  text-align: center;
}

.function-content .content {
  font-size: 48px;
  font-weight: 700;
}

.function-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1300px;
  height: unset;
}

@media (max-width: 1300px) {
  .function-cards {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .function-cards {
    height: 1000px;
  }
}

@media (max-width: 550px) {
  .function-cards {
    margin: auto;
    width: 230px;
    height: unset;
  }
}

.fun-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 100px 0;
  width: 33.3%;
}

@media (max-width: 800px) {
  .fun-card {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .fun-card {
    width: 100%;
  }
}

.fun-card .fun-icon {
  display: block;
  width: 110px;
  margin: 0 auto;
}

.fun-card .fun-text {
  display: block;
  margin: 40px 0 0 0;
  color: #000;
}

@media (max-width: 550px) {
  .fun-card:nth-child(4) {
    padding: 0 10px 0 0;
  }
}

.fun-card:nth-child(4) .fun-icon {
  display: block;
  width: 160px;
  margin: 0 auto;
}

.fun-card:nth-child(4) .fun-text {
  display: block;
  margin: 20px 0 0 0;
}

@media (max-width: 550px) {
  .fun-card:nth-child(5) {
    padding: 0 10px 0 0;
  }
}

.fun-card:nth-child(5) .fun-icon {
  display: block;
  width: 160px;
  margin: 0 auto;
}

.fun-card:nth-child(5) .fun-text {
  display: block;
  margin: 20px 0 0 0;
}

@media (max-width: 550px) {
  .fun-card:nth-child(6) {
    padding: 0 10px 0 0;
  }
}

.fun-card:nth-child(6) .fun-icon {
  display: block;
  width: 160px;
  margin: 0 auto;
}

.fun-card:nth-child(6) .fun-text {
  display: block;
  margin: 20px 0 0 0;
}

.registered-location {
  padding: 160px 40px;
  width: calc(100% - 80px);
  height: 410px;
  background-color: #00a82d;
}

@media (max-width: 760px) {
  .registered-location {
    padding: 50px 40px;
    height: 750px;
  }
}

.registered-location .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 1220px;
  height: 100%;
}

@media (max-width: 1300px) {
  .registered-location .container {
    width: calc(100% - 50px);
  }
}

@media (max-width: 760px) {
  .registered-location .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.registered-location .container .register-form {
  width: 360px;
  height: 410px;
}

@media (max-width: 450px) {
  .registered-location .container .register-form {
    width: 320px;
  }
}

.register-text {
  color: #FFF;
}

@media (max-width: 1050px) {
  .register-text {
    margin: 0 50px 0 0;
  }
}

@media (max-width: 760px) {
  .register-text {
    margin: auto;
    text-align: center;
  }
}

.register-text .register-heading {
  cursor: default;
  margin: 0;
  font-size: 44px;
  font-weight: 700;
  line-height: 56px;
}

@media (max-width: 760px) {
  .register-text .register-heading {
    font-size: 36px;
    line-height: 48px;
  }
}

.register-text .description {
  cursor: default;
  margin: 40px 0 0 0;
  font-size: 20px;
  line-height: 31px;
  font-weight: lighter;
}

@media (max-width: 760px) {
  .register-text .description {
    font-size: 20px;
    line-height: 31px;
  }
}

.register-google {
  border-radius: 3px;
  padding: 16px 40px 16px 20px;
  width: calc(100% - 60px);
  height: 22px;
  background-color: #FFF;
}

.register-google .register-btn {
  display: block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register-google .register-btn .google-icon {
  position: absolute;
  top: 3px;
  height: 18px;
}

.register-google .register-btn .text {
  display: block;
  margin: 0 0 0 40px;
  padding: 4px 0 0 0;
  color: #000;
}

.text-or {
  margin: 24px 0;
  width: 100%;
  height: 22px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #FFF;
}

.form-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 286px;
}

.form-list .form-input:nth-child(1) {
  margin: 0 0 16px 0;
  border-radius: 5px;
  width: 100%;
  background-color: #FFF;
}

.form-list .form-input:nth-child(1) .input-mail {
  border-radius: 5px;
  border: #FFF;
  padding: 16px 20px;
  width: calc(100% - 42px);
  height: 27px;
}

.form-list .form-input:nth-child(2) {
  margin: 0 0 16px 0;
  border-radius: 5px;
  width: 100%;
  background-color: #FFF;
}

.form-list .form-input:nth-child(2) .input-password {
  border-radius: 5px;
  border: #FFF;
  padding: 16px 20px;
  width: calc(100% - 42px);
  height: 27px;
}

.form-list .legal {
  font-size: 13px;
  line-height: 21px;
  font-weight: 300;
  color: #FFF;
}

.form-list .legal a {
  font-weight: 700;
  color: #FFF;
}

.form-list .legal a:hover {
  border-bottom: 1px #FFF solid;
}

.form-submit {
  width: 100%;
  margin: 32px 0 0 0;
}

.form-submit .input-submit {
  cursor: pointer;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  border: none;
  border-radius: 5px;
  padding: 18px 32px 17px 32px;
  width: 296px;
  height: 23px;
  background-color: #FFF;
}

@media (max-width: 450px) {
  .form-submit .input-submit {
    width: 254px;
  }
}

.global-footer {
  padding: 80px 20px;
  width: calc(100% - 40px);
  height: 853px;
}

@media (max-width: 600px) {
  .global-footer {
    height: unset;
  }
}

.global-footer .footer-nav {
  margin: 0 0 100px 0;
  width: 100%;
  height: 629px;
}

@media (max-width: 600px) {
  .global-footer .footer-nav {
    margin: 0 0 40px 0;
    height: unset;
  }
}

.global-footer .footer-info {
  width: 100%;
  height: 124px;
}

@media (max-width: 600px) {
  .global-footer .footer-info {
    height: unset;
  }
}

.global-footer .footer-info .language-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 35px auto;
  border-bottom: 1px rgba(136, 139, 141, 0.5) solid;
  padding: 0 0 35px 0;
  width: 1220px;
}

@media (max-width: 1260px) {
  .global-footer .footer-info .language-social {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .global-footer .footer-info .language-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    border-bottom: none;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .global-footer .footer-info .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 60px 0;
    padding: 60px 10px 60px 0;
    border-bottom: 1px rgba(136, 139, 141, 0.5) solid;
  }
}

.global-footer .footer-info .phone-logo-icon {
  display: none;
}

@media (max-width: 600px) {
  .global-footer .footer-info .phone-logo-icon {
    display: block;
    margin: auto;
    width: 27px;
    height: 32px;
    background-image: url("https://evernote.com/img/footer/logo-icon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.language-phone {
  display: none;
}

@media (max-width: 600px) {
  .language-phone {
    display: block;
  }
}

.language-select-phone {
  display: none;
}

@media (max-width: 600px) {
  .language-select-phone {
    display: block;
  }
}

.footer-logo {
  margin: 0 auto 48px auto;
  border-bottom: 3px #000 solid;
  padding: 0 0 48px 0;
  width: 1220px;
  height: 40px;
}

@media (max-width: 1260px) {
  .footer-logo {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .footer-logo {
    margin: 0 auto 120px auto;
    padding: 0 0 60px 0;
  }
}

.footer-logo .logo {
  width: 170px;
  height: 40px;
  background-image: url("https://evernote.com/img/footer/footer-logo.svg");
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 1220px;
  height: 490px;
}

@media (max-width: 1260px) {
  .footer-flex {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .footer-flex {
    display: block;
    height: unset;
  }
}

.footer-flex .link-section {
  width: 203.31px;
}

@media (max-width: 1260px) {
  .footer-flex .link-section {
    width: 16.6%;
  }
}

@media (max-width: 800px) {
  .footer-flex .link-section {
    text-align: center;
    padding: 0 6px;
  }
}

@media (max-width: 600px) {
  .footer-flex .link-section {
    margin: 0 0 40px 0;
    width: 100%;
    text-align: left;
  }
}

.footer-flex .link-section:nth-child(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 800px) {
  .footer-flex .link-section:nth-child(6) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .footer-flex .link-section:nth-child(6) {
    display: none;
  }
}

.footer-flex .link-section:nth-child(6) .register {
  margin: 12px 5px 0 0;
  font-size: 14px;
  line-height: 22px;
  color: #00A82D;
}

.footer-flex .link-section:nth-child(6) .text {
  margin: 12px 0 0 0;
  font-size: 14px;
  line-height: 22px;
}

@media (max-width: 800px) {
  .footer-flex .link-section:nth-child(6) .text {
    margin: 5px 0 0 0;
  }
}

.footer-flex .link-section:nth-child(6) .entry {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 0 5px;
  border: 2px #00A82D solid;
  border-radius: 3px;
  padding: 12px 20px;
  width: 69px;
  height: 46px;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  color: #00A82D;
}

@media (max-width: 800px) {
  .footer-flex .link-section:nth-child(6) .entry {
    margin: 5px 0 0 0;
  }
}

.footer-flex .link-section:nth-child(6) .entry:hover {
  background-color: #00A82D;
  color: #FFF;
}

.detail-items {
  margin: 0;
  padding: 1px 0;
}

.detail-items .item {
  cursor: pointer;
  margin: 28px 0;
  font-size: 14px;
  line-height: normal;
}

@media (max-width: 600px) {
  .detail-items .item {
    margin: 28px 0;
    font-size: 16px;
    font-weight: 300;
  }
}

.detail-items .item:hover {
  color: #00A82D;
}

.detail-title {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}

@media (max-width: 600px) {
  .detail-title {
    margin: 0;
    font-size: 16px;
  }
}

.language-select {
  cursor: pointer;
}

@media (max-width: 600px) {
  .language-select {
    display: none;
  }
}

.social-link {
  width: 312px;
  height: 32px;
}

@media (max-width: 610px) {
  .social-link {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .social-link {
    padding: 0 0 80px 0;
    border-bottom: 1px black solid;
    width: 100%;
  }
}

.social-link .social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-link .social-items .social-item {
  cursor: pointer;
  margin: auto;
  padding: 0;
  width: 32px;
  height: 32px;
}

@media (max-width: 600px) {
  .social-link .social-items .social-item {
    width: 50px;
    height: 50px;
  }
}

.social-link .social-items .social-item:nth-child(1) {
  background-image: url("https://evernote.com/c/assets/social/facebook.svg?7202eb1971d2bae");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link .social-items .social-item:nth-child(2) {
  background-image: url("https://evernote.com/c/assets/social/twitter.svg?d25b8a0ce7fb98ef");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link .social-items .social-item:nth-child(3) {
  background-image: url("https://evernote.com/c/assets/social/medium.svg?ba4b8caf9ab14358");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link .social-items .social-item:nth-child(4) {
  background-image: url("https://evernote.com/c/assets/social/instagram.svg?69cd249dce35a513");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link .social-items .social-item:nth-child(5) {
  background-image: url("https://evernote.com/c/assets/social/youtube.svg?48fe9f27b8c63ade");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link .social-items .social-item:nth-child(6) {
  background-image: url("https://evernote.com/c/assets/social/linkedin.svg?4c5617ce6d003552");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.legal-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 1220px;
}

@media (max-width: 1260px) {
  .legal-space {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .legal-space {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.legal-space .copy-right {
  font-size: 12px;
  line-height: 21px;
  color: #888b8d;
}

@media (max-width: 600px) {
  .legal-space .copy-right {
    margin: 0 0 60px 0;
    text-align: center;
  }
}

.legal-space .legal-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .legal-space .legal-links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 60px 0;
  }
}

.legal-space .legal-links .legal-link:nth-child(2) {
  margin: 0 30px;
}

.legal-space .legal-links .link {
  cursor: pointer;
  color: #888b8d;
}

.legal-space .legal-links .link:hover {
  color: #000;
}
/*# sourceMappingURL=evernote.css.map */